/vendor
*.gitignore
composer.lock
.env
/bootstrap/cache/*
/storage/logs/*
node_modules
environments
resources
resources/frontend/angular
resources/frontend/angular/src
resources/frontend/angular/src/environments
